.aboutme-info {
    font-size: 16px;
    font-family: 'InterRegular', sans-serif;
    line-height: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.aboutme-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8ec9e6;
    font-family: 'RalewayBold', sans-serif;
    font-size: 20px;
    display: flex;
  }

  .aboutme-text {
    float:left;
    width: 50%;
    padding-left: 10px;
  }
  
  .aboutme-icons {
    text-align: right;
    width: 50%;
    padding-right: 10px;
    padding-top: 18px;
  }

  .aboutme-icons a,
.aboutme-icons button {
  margin-left: 10px;
}

.aboutme-icons button {
    position: relative;
    top: -2px;
    background-color: black;
    color: white;
  }

