
.footer {
    width: 100%;
    background-color: rgb(145, 145, 145);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 900;
    display: flex;
  
  }
.text {
  float:left;
  width: 50%;
  padding-left: 10px;
}
.test {
  text-align: right;
  width: 50%;
  padding-right: 10px;
  padding-top: 14px;
}
/* margin: 0 auto <-- this will make things center and calculator the difference on each side for it to be centered */