/*
.footer {
    background-color: #8ec9e6;
    font-family: 'RalewayBold', sans-serif;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

body{
    margin: 0px;
}

.text {
    float:left;
    width: 65%;
    padding-left: 10px;
}

.icons {
    text-align: right;
    width: 35%;
    padding-right: 10px;
    padding-top: 19px;
}

.icons a,
.icons button {
    margin-left: 10px; /* to add space around each icon */
}

/*
.icons button {
    position: relative;
    top: -2px;
    background-color: black;
    color: white;
}
