body {
    background: radial-gradient(ellipse at center, #f2f9fe 8%,#f2f9fe 46%, #c6e4f4 74%);
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/Raleway-Bold.ttf');
}

/*header logo*/
.header {
    padding-left: 7px;
    font-family: 'InterBold', sans-serif;

}

/*header logo*/
div.logo {
    padding-top: 11px;
    margin-left: 25px;
    margin-right: 10px;
}

/*header background image*/
.backgroundImage {
    background-image: url("../images/background-image.jpg");
    background-size: 110%;
    background-color: #c4e5fa;
    background-blend-mode: lighten;
}

/*index page introduction*/
.index-intro {
    padding-top: 4px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'RalewaySemiBold', sans-serif;
    justify-content: center;
    display: flex;

}

/*project names*/
h2 {
    padding-left: 29px;
    font-size: 24px;
    padding-top: 10px;
    font-family: 'RalewaySemiBold', sans-serif;
}

/*rowhouse model image*/
.rowhouse {
    width: 340px;
    height: 255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 10px;
}

/*redesign image*/
.diner {
    width: 340px;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 30px;
}


