body {
    background: radial-gradient(ellipse at center, rgba(242,249,254,1) 8%,rgba(242,249,254,1) 46%,rgba(214,240,253,1) 74%);
}

@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}

.header {
    padding-left: 7px;
    font-family: 'InterBold';
}

div.logo {
    padding-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
}

.index-intro {
    padding-top: 4px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 28px;
    font-family: 'RalewaySemiBold';
    justify-content: center;
    display: flex;
}

h2 {
    padding-left: 17px;
    font-size: 24px;
    padding-top: 10px;
    font-family: 'RalewaySemiBold';
}

.rowhouse {
    width: 340px;
    height: 255px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 10px;
}

.diner {
    width: 340px;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 30px;
}
    


