body {
    font-family: 'RalewaySemiBold';
  }
  
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d4e9fc;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
  
  .overlay a {
    padding: 30px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  } */
  
  /* Cloe menu bar position */   
  .overlay .closebtn {
    position: absolute;
    top: -20px;
    right: 14px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

/* Menu bar position */    
  }
  
  div.fixed{
    position: absolute;  /* put fixed if want to make menu bar move with user */
    top: 30px;
    right: 45px;
  }

/* Link colors */
  a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  

div.margin {
    margin-left: 10px;
    margin-right: 10px;
}
