.thinking1 {
    width: 310px;
    height: 310px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floor {
    width: 310px;
    height: 310px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rowmodel {
    width: 340px;
    height: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

h3 {
    padding-left: 30px;
    margin-bottom: -10px;
    font-size: 20px;
    font-family: 'RalewaySemiBold';
}

p {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'InterRegular';
}

.persona {
    width: 370px;
    height: 277px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobilewireframe {
    width: 370px;
    height: 784px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile {
    width: 370px;
    height: 803px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.desktop {
    width: 370px;
    height: 195px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}



