.header {
    line-height:2;
    padding-left: 5px;
}

div.logo {
    margin-left: 10px;
    margin-right: 10px;
}

.intro {
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 32px;
}

.buttonup {
    float: right;
    padding-right: 10px;
    
}

.para {
    padding-left: 7px;
    padding-right: 4px;
    padding-top: 5px;
    line-height: 20px;
    letter-spacing: 1px;
    
}

h3 {
    margin-bottom: -10px;
}

ul {
    margin-top: -10px;
}

li {
    margin-bottom: 5px;
}

.pdf {
    border-radius: 10px;
    text-align: center;
    background-color: #b2c5dd;
    border-color: blue; /*change color later*/
    font-size: 14px;
    margin-bottom: 30px;
    width: 90px;
    height: 30px; 
}

.container {
    margin-top: -35px;
    margin-bottom: 20px;
    text-align: center;
}


