.para {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 5px;
    line-height: 20px;
    letter-spacing: 1px;
    
}

h3 {
    font-size: 18px;
    font-family: 'RalewayBold';
    margin-bottom: -10px;
}

p {
    font-size: 16px;
    font-family: 'InterRegular';
}

ul {
    margin-top: -10px;
    font-size: 16px;
    font-family: 'InterRegular';
}

li {
    margin-bottom: 5px;
}

.pdf {
    border-radius: 10px;
    text-align: center;
    font-family: 'InterRegular';
    background-color: #b0d2f2;
    border: none;
    font-size: 15px;
    margin-bottom: 30px;
    width: 100px;
    height: 40px; 
}

.container {
    margin-top: -35px;
    margin-bottom: 20px;
    text-align: center;
}