.header {
    line-height:2;
}

div.marigin {
    margin-left: 10px;
    margin-right: 10px;
}

.intro {
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 32px;
}

.buttonup {
    float: right;
    padding-right: 10px;
    
}

.footer {
    width: 100%;
    background-color: rgb(161, 161, 161);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    padding: 10px; 
    box-sizing: border-box; 
    position: absolute;
    bottom: 100; 
    left: 0; 
  }