.thinking1 {
    width: 310px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thinking2 {
    width: 310px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rowmodel {
    width: 310px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}